@model FireEmblemTTRPG.WebApp.ViewModels.CreateCharacterViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Character</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" value=1/>
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience" class="control-label"></label>
                <input asp-for="Experience" class="form-control" value=0/>
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatGrowthHP" class="control-label"></label>
                <input asp-for="StatGrowthHP" class="form-control" value=0/>
                <span asp-validation-for="StatGrowthHP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatGrowthStr" class="control-label"></label>
                <input asp-for="StatGrowthStr" class="form-control" value=0/>
                <span asp-validation-for="StatGrowthStr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatGrowthMag" class="control-label"></label>
                <input asp-for="StatGrowthMag" class="form-control" value=0/>
                <span asp-validation-for="StatGrowthMag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatGrowthSkl" class="control-label"></label>
                <input asp-for="StatGrowthSkl" class="form-control" value=0/>
                <span asp-validation-for="StatGrowthSkl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatGrowthSpd" class="control-label"></label>
                <input asp-for="StatGrowthSpd" class="form-control" value=0/>
                <span asp-validation-for="StatGrowthSpd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatGrowthLck" class="control-label"></label>
                <input asp-for="StatGrowthLck" class="form-control" value=0/>
                <span asp-validation-for="StatGrowthLck" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatGrowthDef" class="control-label"></label>
                <input asp-for="StatGrowthDef" class="form-control" value=0/>
                <span asp-validation-for="StatGrowthDef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatGrowthRes" class="control-label"></label>
                <input asp-for="StatGrowthRes" class="form-control" value=0/>
                <span asp-validation-for="StatGrowthRes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatGrowthMov" class="control-label"></label>
                <input asp-for="StatGrowthMov" class="form-control" value=0/>
                <span asp-validation-for="StatGrowthMov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrowthHP" class="control-label">HP Growth</label>
                <input asp-for="GrowthHP" class="form-control" value=40 />
                <span asp-validation-for="GrowthHP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrowthStr" class="control-label">Str Growth</label>
                <input asp-for="GrowthStr" class="form-control" value=40 />
                <span asp-validation-for="GrowthStr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrowthMag" class="control-label">Mag Growth</label>
                <input asp-for="GrowthMag" class="form-control" value=40 />
                <span asp-validation-for="GrowthMag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrowthSkl" class="control-label">Skl Growth</label>
                <input asp-for="GrowthSkl" class="form-control" value=40 />
                <span asp-validation-for="GrowthSkl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrowthSpd" class="control-label">Spd Growth</label>
                <input asp-for="GrowthSpd" class="form-control" value=40 />
                <span asp-validation-for="GrowthSpd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrowthLck" class="control-label">Lck Growth</label>
                <input asp-for="GrowthLck" class="form-control" value=40 />
                <span asp-validation-for="GrowthLck" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrowthDef" class="control-label">Def Growth</label>
                <input asp-for="GrowthDef" class="form-control" value=40 />
                <span asp-validation-for="GrowthDef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrowthRes" class="control-label">Res Growth</label>
                <input asp-for="GrowthRes" class="form-control" value=40 />
                <span asp-validation-for="GrowthRes" class="text-danger"></span>
            </div>   
            <div class="form-group">
                <label class="control-label">Classes: </label>
                @foreach (var item in Model.ClassNames)
                    {
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               name="ClassNames"
                               asp-for="@item.isSelected"
                               value="@item.ClassId"
                               /> @item.Name
                        </label>
                    </div>
            }
            </div>
            <div class="form-group">
                <label class="control-label">Weapons: </label>
                @foreach (var item in Model.WeaponNames)
                {
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               asp-for="@item.isSelected"
                               name="WeaponNames"
                               value="@item.WeaponId"
                               /> @item.Name
                        </label>
                    </div>
            }
                </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
